body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header starts here */

.header-part{
    display: flex;
}
.navlink ul{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    margin-left: 20px;
    list-style-type: none;
}

.headerlogo img{
    margin-left: 50px;
    margin-top: 5px;
    align-items: center;
}

.navlink ul li a{
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.searchpart1{
    width: 300px;
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.header-part .searchpart{
    margin-top: 18px;
    margin-left: 190px;
}

.header-part .search{
    position: absolute;
    font-size: 17px;
    right: 145px;
    top: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

.header-part .heart{
    position: relative;
    font-size: 20px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.header-part .bag{
    position: relative;
    font-size: 20px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
.heart1{
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color:green;
    text-align: center;
    color: white;
    position: absolute;
    right:83px;
    top: 12px;
}
.bag1{
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color:green;
    text-align: center;
    color: white;
    position: absolute;
    right:50px;
    top: 12px;
    display: inline;
}


/*  header ends here */


 
/* main part starts here  */
main .loginpage{
    background-color: rgba(128, 128, 128, 0.182);
    height: 60px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 65px;
    margin-bottom: 60px;
}

main .container .login{
    border: 1px solid rgba(0, 0, 0, 0.115);
    padding: 15px;
    width: 42%;
    height: 220px;
    margin-left: 60px;
    border-radius: 5px;
}

main .container h3{
    margin-left: 15px;
}

.login input{
    margin-left: 15px;
    display: block;
    width: 85%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.115);
    border-radius: 5px;
    margin-bottom: 15px;
}

 .account input{
    margin-left: 15px;
    width: 85%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.115);
    border-radius: 5px;
    margin-bottom: 15px;
}
main .container .login-button{
    margin-left: 15px;
    padding: 10px;
    width: 80px;
    background-color:rgb(32,178,170);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}
main .container .login-button:hover{
    background-color: white;
    color:rgb(32,178,170) ;
    border: 2px solid rgb(32,178,170) ;
}
main .container .account{
    border: 1px solid rgba(0, 0, 0, 0.115);
    padding: 15px;
    width: 41%;
    border-radius: 5px;
}
main .container .account h2{
    margin-left: 15px;
}
main .container .account .main-text{
    margin-left: 15px;
    display: block;
    width: 525px;
    padding: 13px;
    border: 1px solid rgba(0, 0, 0, 0.115);
    border-radius: 5px;
    margin-bottom: 15px;
}
main .container .account .submit-button{
    margin-left: 15px;
    padding: 10px;
    width: 150px;
    background-color:rgb(32,178,170);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
main .container .submit-button:hover{
    background-color: white;
    color:rgb(32,178,170) ;
    border: 2px solid rgb(32,178,170) ;
}
main .container{
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}




/* footer starts here  */
.footer-part{
    display: flex;
    background-color: rgb(111, 202, 172);
    height: 80px;
    align-items: center;
}

.newsletter1{
    margin-left: 250px;
}

.email{
    margin-left: 150px;
    height: 30px;
    width: 300px;
    border: none;
}

.subscribe{
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    width: 150px;
    cursor: pointer;
}

 .maillogo {
    height:30px;
    margin-left: 100px;
    margin-top: 8px;
}

.footertext .contact{
    margin-top: 50px;
    margin-left: 80px;
    width: 30%;
}
.footertext .contact img{
    height: 50px;
    width: 150px;
}
.footertext .contact .contact1{
    color: grey;
}
.footertext .contact .add ,.Phone,.time{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(84, 72, 72);
}
.footertext .contact p{
    display: inline;
    color: black;
}
.footertext .follow h4{
    color: grey;
}
.footertext .follow button{
    background: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.footertext{
    display: flex;
}
.footertext .address{
    margin-top: 40px;
}
.footertext .address h3{
    margin-left: 50px;
}
.footertext .address ul{
    list-style-type: none;
}
.footertext .address ul li{
    padding: 8px;
}
.footertext .address ul li a{
    text-decoration: none;
    color: black;
}

.footertext .myaccount{
    margin-top: 40px;
}

.footertext .myaccount{
    margin-left: 100px;
}
.footertext .myaccount h3{
    margin-left: 50px;
}
.footertext .myaccount ul{
    list-style-type: none;
}
.footertext .myaccount ul li{
    padding: 8px;
}
.footertext .myaccount ul li a{
    text-decoration: none;
    color: black;
}
 
.payment{
    margin-top: 36px;
    margin-left:100px ;
}

